@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  padding: 2rem 1rem;
}

a {
  color: #fff;
  text-decoration: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.nav-items {
  display: none;
}

.nav .nav-icon {
  width: 40px;
  height: 40px;
}

.nav #hamburgerIcon {
  width: 24px;
  height: 21px;
}

@media (min-width: 500px) {
  .nav #hamburgerIcon, .nav #closeIcon {
    display: none;
  }
  .nav-items {
    display: block;
    list-style-type: none;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.04);
    -webkit-backdrop-filter: blur(81.5485px);
            backdrop-filter: blur(81.5485px);
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 400px;
    padding: 1.5rem 1rem;
  }
  .nav-items :not(:last-child) {
    margin-right: .7rem;
  }
}

@media (min-width: 1000px) {
  .nav {
    font-size: 16px;
  }
  .nav-items {
    max-width: 700px;
  }
  .nav-items li {
    position: relative;
  }
  .nav-items li a::after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -1.5rem;
    opacity: 0;
    -webkit-transition: opacity 500ms ease;
    transition: opacity 500ms ease;
  }
  .nav-items li a:hover::after {
    opacity: 1;
  }
}

body {
  min-height: 100vh;
  background: url("../assets/home/background-home-mobile.jpg") no-repeat center center/cover;
  color: #FFFFFF;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 80vh;
}

.home-heading1 {
  font-size: 80px;
  font-family: "Bellefair", serif;
  text-transform: uppercase;
  margin: 2rem auto;
}

.home-heading5 {
  font-size: 16px;
  letter-spacing: 4.75px;
  color: #D0D6F9;
}

.home-description {
  line-height: 25px;
  font-size: 15px;
  color: #D0D6F9;
  max-width: 350px;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  -webkit-transition: -webkit-box-shadow 500ms ease;
  transition: -webkit-box-shadow 500ms ease;
  transition: box-shadow 500ms ease;
  transition: box-shadow 500ms ease, -webkit-box-shadow 500ms ease;
  cursor: pointer;
  font-family: "Bellefair", serif;
  font-size: 20px;
  text-transform: uppercase;
  margin: 5rem auto 0;
}

.circle:hover {
  -webkit-box-shadow: 0px 0px 0px 40px rgba(255, 255, 255, 0.433);
          box-shadow: 0px 0px 0px 40px rgba(255, 255, 255, 0.433);
}

@media (min-width: 500px) {
  body {
    background-image: url("../assets/home/background-home-tablet.jpg");
  }
  .home-heading5 {
    font-size: 20px;
  }
  .home-heading1 {
    font-size: 150px;
  }
  .home-description {
    font-size: 16px;
    margin: auto;
  }
}

@media (min-width: 1000px) {
  body {
    background-image: url("../assets/home/background-home-desktop.jpg");
  }
  .circle {
    margin-right: 1.5rem;
    width: 300px;
    height: 300px;
  }
  .home {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    text-align: left;
  }
  .home div:first-child {
    padding-left: 1rem;
  }
  .home .home-heading1 {
    font-size: 150px;
    margin: 2rem auto 1rem -18px;
  }
  .home .home-heading5 {
    font-size: 28px;
  }
  .home .home-description {
    font-size: 18px;
    margin: 0;
    max-width: 450px;
  }
}
/*# sourceMappingURL=style.css.map */