.crew-body {
    background: url("../assets/crew/background-crew-desktop.jpg") no-repeat center center/cover;
    min-height: 100vh;
    color: $White;
    font-family: $Barlow-condensed-font;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 2rem 1rem 0;
}

.crew-subheading1 {
    @extend .destination-subheading1;
}

.crew .h4 {
    font-size: $font-size-heading4;
    font-weight: 400;
    font-family: $Bellefair-font;
    opacity: .5;
    text-transform: uppercase;
}

.crew .h3 {
    font-size: $font-size-heading3;
    font-family: $Bellefair-font;
    margin: 1rem 0 2rem;
    text-transform: uppercase;
    white-space: nowrap;
}

.crew-sub-body {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: "text img";
    align-items: center;
    min-height: 70vh;

    .crew-sub-body-text {
        grid-area: text;
        position: relative;
    }

    .crew-sub-body-img {
        grid-area: img;
        width: 90%;
        margin-left: 5rem;
        transition: opacity 500ms ease, transform 500ms ease 100ms;
    }
}

.crew-dis {
    max-width: 450px;
    font-size: $font-size-paragraph;
    margin: 1rem 0 8rem;
    line-height: $line-height;
}

.dots {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100px;
    .dot {
        width: 10px;
        height: 10px;
        background-color: rgba(255, 255, 255, 0.57);
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 300ms ease;

        &:hover {
            background-color: #fff;
        }
    }

    .dot.active {
        background-color: #fff;
    }
}

hr {
    display: none;
    margin-bottom: 2rem;
}

@media (max-width: 1000px) {
    .crew-sub-body {
        text-align: center;
        grid-template-areas: "text"
                                "img";
    
        .crew-sub-body-img {
            width: 50%;
            margin: 2rem auto 0;
        }
    }

    .crew .h4 {
        font-size: $font-size-heading4-tablet;
    }
    
    .crew .h3 {
        font-size: $font-size-heading3-tablet;
    }

    .crew-dis {
        font-size: $font-size-paragraph-tablet;
        margin: 1rem auto 4rem;
    }
    
    .dots {
        margin: 1rem auto 0;
    }
    
}

@media (max-width: 500px) {
    .crew-sub-body {
        text-align: center;
        grid-template-areas: "img"
                                "text";
    
        .crew-sub-body-img {
            width: 50%;
            margin: 0 auto 0rem;
        }
    }
    
    .crew-hr {
        display: block;
        margin-bottom: 2rem;
        margin-top: -4px;
        opacity: .3;
    }

    .crew .h4 {
        font-size: $font-size-heading4-mobile;
    }
    
    .crew .h3 {
        font-size: $font-size-heading3-mobile;
    }

    .crew-dis {
        font-size: $font-size-paragraph-mobile;
    }

    .crew-sub-body-text {
        margin-top: 3rem;
    }

    .dots {
        position: absolute;
        top: -50px;
        width: 100px;
        left: 50%;
        transform: translateX(-50%);
    }

    .crew {
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
