.index-body {
    min-height: 100vh;
    background: url("../assets/home/background-home-mobile.jpg") no-repeat center center/cover;
    color: $White; 
    text-align: center;       
    font-family: $Barlow-condensed-font;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
}

.home-heading1 {
    font-size: $font-size-heading1-mobile;
    font-family: $Bellefair-font;
    text-transform: uppercase;
    margin: 2rem auto;
}

.home-heading5 {
    font-size: $font-size-heading5-mobile;
    letter-spacing: $char-space-heading5;
    color: $Gray;
}

.home-description {
    line-height: $line-height;
    font-size: $font-size-paragraph-mobile;
    color: $Gray;
    max-width: 350px;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: $White;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    transition: box-shadow 500ms ease;
    cursor: pointer;
    font-family: $Bellefair-font;
    font-size: 20px;
    text-transform: uppercase;
    margin: 5rem auto 0;
}

.circle:hover {
    box-shadow: 0px 0px 0px 40px rgba(255, 255, 255, 0.433);
}

// for tablet 
@media (min-width: 500px) {

    .index-body {
        background-image: url("../assets/home/background-home-tablet.jpg");
    }

    .home {
        &-heading5 {
            font-size: $font-size-heading5-tablet;
        }

        &-heading1 {
            font-size: $font-size-heading1-desktop;
        }

        &-description {
            font-size: $font-size-paragraph-tablet;
            margin: auto;
        }
    }
}

@media (min-width: 1000px) {

    .index-body {
        background-image: url("../assets/home/background-home-desktop.jpg");
    }

    .circle {
        margin-right: 1.5rem;
        width: 300px;
        height: 300px;
    }

    .home {
        flex-direction: row;
        justify-content: space-between;
        max-width: 1100px;
        margin: auto;
        text-align: left;

        & div:first-child {
            padding-left: 1rem;
        }

        .home-heading1 {
            font-size: $font-size-heading1-desktop;
            margin: 2rem auto 1rem -18px;
        }
        
        .home-heading5 {
            font-size: $font-size-heading5;
        }
        
        .home-description {
            font-size: $font-size-paragraph;
            margin: 0;
            max-width: 450px;
        }
    }
}
