.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;

    &-items {
        display: none;
    }

    .nav-icon {
        width: 40px;
        height: 40px;
    }

    #hamburgerIcon{
        width: 24px;
        height: 21px;
    }
}

@media (min-width: 500px) {
    .nav {
        #hamburgerIcon, #closeIcon{
            display: none;
        }

        &-items {
            display: block;
            list-style-type: none;
            font-size: $font-size-nav-tablet;
            background-color: rgba(255, 255, 2555, 0.04);
            backdrop-filter: blur(81.5485px);
            width: 60%;
            display: flex;
            justify-content: space-between;
            max-width: 400px;
            padding: 1.5rem 1rem;
            
            :not(:last-child) {
                margin-right: .7rem;
            }
        }
    }
}

@media (min-width: 1000px) {
    .nav {
        font-size: $font-size-nav;
        &-items {
            max-width: 700px;

            li {
                position: relative;

                a::after {
                    content: "";
                    width: 100%;
                    height: 3px;
                    background-color: #fff;
                    position: absolute;
                    left: 0;
                    bottom: -1.5rem;
                    opacity: 0;
                    transition: opacity 500ms ease;
                }

                a:hover::after {
                    opacity: 1;
                }
            }
        }
    }
}
