.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;

    &-items {
        display: none;
    }

    .nav-icon {
        width: 40px;
        height: 40px;
    }

    #hamburgerIcon{
        width: 24px;
        height: 21px;
        cursor: pointer;
    }

    #closeIcon {
        display: none;
    }

    #nav-icon {
        transition: transform 500ms linear;
    }

    #nav-icon:hover {
        transform: rotateZ(450deg);
    }

}

@media (min-width: 500px) {
    .nav {
        #hamburgerIcon, #closeIcon{
            display: none;
        }

        &-items {
            display: block;
            list-style-type: none;
            font-size: $font-size-nav-tablet;
            background-color: rgba(255, 255, 2555, 0.04);
            backdrop-filter: blur(81.5485px);
            width: 80%;
            display: flex;
            justify-content: space-between;
            max-width: 400px;
            padding: 1.5rem 1rem;
            
            :not(:last-child) {
                margin-right: .7rem;
            }


            li {
                position: relative;

                a::after {
                    content: "";
                    width: 100%;
                    height: 3px;
                    background-color: #fff;
                    position: absolute;
                    left: 0;
                    bottom: -1.5rem;
                    opacity: 0;
                    transition: opacity 500ms ease;
                }

                a:hover::after {
                    opacity: 1;
                }
            }
        }
    }
}

@media (min-width: 1000px) {
    .nav {
        font-size: $font-size-nav;
        &-items {
            max-width: 700px;
        }
    }
}

@media (max-width: 500px) {
    .nav.active {
        .nav-items {
            position: absolute;
            top: 100px;
            right: 10px;
            width: 80%;
            height: 500px;
            background-color: #ffffffce;
            backdrop-filter: blur(81.5485px);
            z-index: 10;
            padding: 3rem 0;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            list-style-type: none;
        }

        a {
            color: black;
            font-size: 1.4rem;
            font-weight: bolder;
        }

        #closeIcon {
            display: block;
            cursor: pointer;
        }
    
        #hamburgerIcon {
            display: none;
        }
    }
}

